{% block header %}
	<header>
		<div class="header">
			<div class="header__container">
				<div class="header__content">
					{{ page.header }}
					<picture>
						<source media="(max-width: 767px)" srcset="{{ directory }}/dist/assets/images/tmp-logo.svg">
						<img src="{{ directory }}/dist/assets/images/tmp-logo.svg" alt="Friasya Logo">
					</picture>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
  {{ page.content }}
{% endblock %}

{% block footer %}
	{{ page.footer }}
{% endblock %}
