<table class="ventas-reporte">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Stock</th>
      <th>Semáforo</th>
      <th>Unidades vendidas</th>
      <th>Precio</th>
      <th>Costo unitario</th>
      <th>Ganancia</th>
      <th>Reinversión (50%)</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
      {% set stock = producto.stock|int %}
      {% set semaforo = stock <= 4 ? 'rojo' : (stock <= 15 ? 'amarillo' : 'verde') %}
      <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ stock }}</td>
        <td><span class="semaforo {{ semaforo }}"></span></td>
        <td>{{ producto.vendido }}</td>
        <td>${{ producto.precio|number_format }}</td>
        <td>
          <input type="number" class="costo-input" 
                 data-cantidad="{{ producto.vendido }}"
                 data-precio="{{ producto.precio }}">
        </td>
        <td class="ganancia">$0</td>
        <td class="reinversion">$0</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
